{% extends "lesson_seventh_registration/registration.html" %}

{% block forms %}
    <form action="" method="post">{% csrf_token %}
        {% for field in main_form %}
            <label for="">{{field.label}}</label>
            <div>{{field}}</div>
                {% if field.errors %}
                    {{field.errors}}
                {% endif %}
        {% endfor %}

        {% for field in add_form %}
            <label for="">{{field.label}}</label>
            <div>{{field}}</div>
            {% if field.errors %}
                {{field.errors}}
            {% endif %}
        {% endfor %}
        <button type="submit">Register</button>
    </form>
{% endblock %}