body {
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}

header {
    background-color: #5CCCCC;
    height: 220px;
}

    header img {
        margin: 10px;
        float: left;
        border-radius: 200px;
    }

h1 {
    letter-spacing: 3px;
    text-align: center;
    color: saddlebrown
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 28px;
    margin-right: 60px;
}

    nav a:hover {
        color: green;
    }

nav {
    padding-top: 80px;
}

aside {
    display: block;
    background-color: antiquewhite;
    padding: 10px;
    width: 200px;
    float: right;
}

ul li {
    margin-top: 15px;
}

footer {
    height: 60px;
    float: left;
    background: #006363;
    width: 100%;
}

footer div {
    padding-top: 7px;
    text-align: center;
    color: #33CCCC;
    font-size: 40px;
    font-weight: bold;
    font-style: initial;
}

div {
    width: 80%;
    margin-left: 30px;
    padding-right: 20px;
    font-size: 24px;
    text-indent: 50px;
    text-align: justify;
    font-style: italic;
}

#adrian {
    margin: 0px 25px 25px 25px;
    border-radius: 50px;
    float: left;
    width: 300px;
}

#releases {
    list-style: none;
}

    #releases li {
        font-style: italic;
        font-size: 24px;
    }
